<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Pose Detection Project</title>
		<!-- Company Logo-->
		<link
			rel="icon"
			type="image/x-icon"
			href="static/assets/logo_vertical.png"
		/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link
			href="{{url_for('static', filename='css/styles.css')}}"
			rel="stylesheet"
		/>
		<style>
			.custom-submit-button:hover {
				background-color: #0056b3;
			}
		</style>
		<script>
			// JavaScript function to open the webcam
			function inference_webcam() {
				// You can use JavaScript to trigger a POST request to your Flask route
				// For simplicity, you can redirect the user to a new route that opens the webcam
				window.location.href = "{{ url_for('inference_webcam') }}";
			}
		</script>
	</head>

	<body class="d-flex flex-column h-100 bg-dark">
		<main class="flex-shrink-0">
			<!-- Navigation-->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container px-5">
					<a class="navbar-brand" href="{{'/'}}"
						>Brain AI: 인텔 오픈비노 활용 체험 프로젝트</a
					>
				</div>
			</nav>

			<!-- Header-->
			<header class="bg-dark py-5">
				<div class="container px-5">
					<div
						class="row gx-5 align-items-center justify-content-center"
					>
						<div class="col-lg-8 col-xl-7 col-xxl-6">
							<div class="my-5 text-center text-xl-start">
								<h1 class="display-5 fw-bolder text-white mb-2">
									Human Pose Estimation
								</h1>
								<p></p>
								<p class="lead fw-normal text-white-50 mb-4">
									OpenVINO
									<a
										href="https://docs.openvino.ai/2023.2/omz_models_model_human_pose_estimation_0001.html"
										target="_blank"
										>human-pose-estimation-0001</a
									>
									모델에 대해 알아보고 사람의 포즈를 예측하는
									AI 체험을 해 봅시다.
								</p>
								<p class="lead fw-normal text-white-50 mb-4">
									사람의 포즈를 예측하는 AI를 어떻게 활용할 수
									있을지 생각해 보세요. 참고
									<a
										href="https://www.v7labs.com/blog/ai-in-retail"
										target="_blank"
									>
										링크
									</a>
								</p>
								<p class="lead fw-normal text-white-50 mb-4">
									"Inference Webcam" 버튼을 클릭하여 실시간 포즈 예측을 수행합니다.
								</p>

								<div
									class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start py-2"
								>
									<button
										type="button"
										class="btn btn-primary px-2.5"
										onclick="inference_webcam()"
									>
										Inference Webcam
									</button>
								</div>
							</div>
						</div>
						<div
							class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"
						>
							<img
								class="img-fluid rounded-3 my-5"
								style="max-width: 600px"
								src="static/assets/human-pose-estimation-0001.png"
								alt="..."
							/>
						</div>
					</div>
				</div>
			</header>
		</main>

		<!-- Footer-->
		<footer class="bg-dark py-4 mt-auto">
			<div class="container px-5">
				<div
					class="row align-items-center justify-content-between flex-column flex-sm-row"
				>
					<div class="col-auto">
						<div class="small m-0 text-white">
							Copyright &copy; BrainAI 2024
						</div>
					</div>
					<div class="col-auto">
						<div
							class="col-xl-5 col-xxl-6 d-none d-xl-block text-left"
						>
							<img
								class="img-fluid rounded-3 my-5"
								style="max-width: 100px"
								src="static/assets/logo_horizontal_white.png"
								alt="..."
							/>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>
